<div class="faq">
  {% for block in section.blocks %}
      <div class="faq_tab">
        <input type="checkbox" id="tab{{ forloop.index }}" class="faq_tab-toggle">
        <label for="tab{{ forloop.index }}" class="faq_tab-label1">{{ block.settings.question }}</label>
        <div class="faq_content">
          {{ block.settings.answer }}
        </div>
      </div>
  {% endfor %}
</div>

{% schema %}
{
  "name": "accordion",
  "settings": [],
  "blocks": [
    {
      "type": "text",
      "name": "Question/Answer",
      "settings": [
        {
          "id": "question",
          "type": "text",
          "label": "the question"
        },
        {
          "id": "answer",
          "type": "textarea",
          "label": "the answer"
        }
      ]
    }
  ]
}
{% endschema %}